* {
    box-sizing: border-box;
}

[class^="side"] {
    width: 33%;
    float: left;
    border: 1px solid red;
    height: 100px;
}

@media only screen and (max-width: 992px) {
    .side1, .side2 {
        width: 50%;
    }

    .side3 {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .side1, .side2 {
        width: 100%;
    }
}

/* body {
    background-color: lawngreen;
}

@media only screen and (max-width: 992px) {
    body {
        background-color: lightcoral;
    }
}

@media only screen and (max-width 576px) {
    body {
        background-color: lightskyblue;
    }
}  */